
<style>
  #animals {
    display: flex;
    padding: 0;
  }
  #animals li {
      list-style: none;
      margin-right: 10px;
  }
  #animals li:hover {
      cursor: pointer;
      background-color: #eee;
  }
</style>

<div class="container">
  <h1>Animals</h1>
  <!-- On place les éléments invariables, le corps immobile du HTML -->
  <div id="selected-animal">
      <img src="{{selectedAnimal.img}}" alt="" id="selected-animal-img" height="300">
      <h3 id="selected-animal-name">{{selectedAnimal.name}}</h3>
      <p class="weight" id="selected-animal-weight">{{selectedAnimal.weight}}</p>
      <p class="speed" id="selected-animal-speed">{{selectedAnimal.speed}}</p>
  </div>
  <div>
      <ul id="animals">
        <div *ngFor="let item of animalsArray">
          <li (click)="selectAnimal(item)">
            Nom : {{item.name}}
            <img src={{item.img}} alt="" height="150"><br>
            Poids : {{item.weight}}
            Vitesse : {{item.speed}}
          </li>
        </div>
      </ul>
  </div>
  
</div>


